.canvas-elevador{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 2px 0 0 2px;
}

.sidebar-elevador{
	margin: 2px 0 0 1035px;
	width: 300px;
}

.painel-elevador{
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	padding: 25px 0px;
	background-color: grey;
}

.painel-elevador td{
	padding: 15px 34.6666px;
}

.btn-elevador{
	border-color: #000;
}

.btn-elevador:hover{
    color: #333;
    background-color: #A4A4A4;
    border-color: #000;
}

.btn-circle{
	font-size: 35px;
	width: 80px;
	height: 80px;
	line-height: 40px;
	padding: 0;
	border-radius: 50%;
}

.disabled-elevador{
	background-color: #ff3f3f;
	color: #000;
}

.disabled-elevador:hover{
	background-color: #ff3f3f;
	color: #000;
}

.disabled-elevador:focus, .disabled-elevador:active{
	color: #000;
}

@media (min-width: 768px){
	.modal-dialog {
		margin: 10px auto;
	}
}

.modal-body{
	padding: 0;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover{
	color: inherit;
	text-decoration: inherit;
}